{% extends "base.html" %}
{% load static %}

{% block page_header %}

<h1>Our Classes</h1>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-3">Class 1</div>
        <div class="col-3">Class 2</div>
        <div class="col-3">Class 3</div>
        <div class="col-3">Class 4</div>
    </div>
    <div class="row">
        <div class="col-3">Class 5</div>
        <div class="col-3">Class 6</div>
        <div class="col-3">Class 7</div>
        <div class="col-3">Class 8</div>
    </div>
</div>

{% endblock %}