{% extends "base.html" %}
{% load static %}

{% block page_header %}

<h1>Our Classes</h1>

{% endblock %}

{% block content %}

<div class="container gym-info">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h2>Yoga</h2>
            <div class="image-yoga">
                placeholder
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h2>Calistenics</h2>
            <div class="image-calistenics">
                placeholder
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h2>Spin Class</h2>
            <div class="image-yoga">
                placeholder
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h2>Cardio</h2>
            <div class="image-calistenics">
                placeholder
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center gym-info-equipment">
            <h1 class="gym-info-title">Equipment and Facilities available at all of our gym's</h1>
        </div>
        <div class="row">
            <div class="col">
                <p>placeholder</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}