{% extends "base.html" %}
{% load static %}

{% block page_header %}

<header>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>
                    What Concerns you?
                </h1>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}

<!-- drop down list -->

<div class="container">
    <div class="row">
        <div class="question-block">
            <h1>Question</h1>
            <button class="accordion active">
                <span>Question</span>
            </button>
            <div class="panel show">
                <p>Answer</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="question-block">
            <h1>Question</h1>
        </div>
    </div>
    <div class="row">
        <div class="question-block">
            <h1>Question</h1>
        </div>
    </div>
    <div class="row">
        <div class="question-block">
            <h1>Question</h1>
        </div>
    </div>
    <div class="row">
        <div class="question-block">
            <h1>Question</h1>
        </div>
    </div>
</div>

{% endblock %}