{% extends "base.html" %}
{% load static %}

{% block page_header %}

<header>
    <div class="container">
        <div class="row text-center FAQs-header">
            <div class="col-12">
                <h1>
                    What Concerns you?
                </h1>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}

<!-- drop down list -->


<div class="container FAQ-div">
    <button class="btn btn-primary FAQ-btn" type="button" data-toggle="collapse" data-target="#collapseExample">
        How can I get in touch?
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body FAQ-text">
            All of the Information on how to contact any of our gym's will be found on the locations page of this website. You can either ring the number provided or if you'd prefer to speak in
            person, simply head in to one of the locations provided and chat to our friendly staff.
        </div>
    </div>
</div>
<div class="container FAQ-div">
    <button class="btn btn-primary FAQ-btn" type="button" data-toggle="collapse" data-target="#collapseExample">
        What equipment and/or facilities are available at each gym?
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body FAQ-text">
            Our gyms have a wide range of equipment spanning from pool's to sauna's and if you want to know what is available at any specific location, you can check out our locations page
            and select which gym you're interested in to find out it's equipment and failities. 
        </div>
    </div>
</div>
<div class="container FAQ-div">
    <button class="btn btn-primary FAQ-btn" type="button" data-toggle="collapse" data-target="#collapseExample">
        How can I join?
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body FAQ-text">
            If you'd like to sign up for a membership, all you need to do is navigate to the membership page of this site and follow the instructions on the membership form. If you only want to
            keep up to date with what's happening at Lift, Life, Long make your way to the "Join Now" page to sign up or check our social page.
        </div>
    </div>
</div>
<div class="container FAQ-div">
    <button class="btn btn-primary FAQ-btn" type="button" data-toggle="collapse" data-target="#collapseExample">
        What classes are offered
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body FAQ-text">
            Just as checking what equipment and facilities are available, if you'd like to know what specific classes are offered at each gym and at what time, take a look at our locations page and
            select whichever gym you would like to attend. Not all classes are available at every gym or at the same time so be sure to look ahead before planning a schedule.
        </div>
    </div>
</div>
<div class="container FAQ-div">
    <button class="btn btn-primary FAQ-btn" type="button" data-toggle="collapse" data-target="#collapseExample">
        Career development/personal trainer
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body FAQ-text">
            If you would like to compete professionally at some point, no matter what stage of your development you find yourself, we can tailor a regiment that will suit your needs with any of our
            expert Personal Trainers.
        </div>
    </div>
</div>

{% endblock %}