{% extends "base.html" %}
{% load static %}

{% block page_header %}

<header>
    <div class="container">
        <div class="row text-center FAQs-header">
            <div class="col-12">
                <h1>
                    What Concerns you?
                </h1>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}

<!-- drop down list -->


<div class="container FAQ-div">
    <button class="btn btn-primary FAQ-btn" type="button" data-toggle="collapse" data-target="#collapseExample">
        Question
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body FAQ-text">
            Some placeholder content for the collapse component. This panel is hidden by default but
            revealed when
            the
            user activates the relevant trigger.
        </div>
    </div>
</div>
<div class="container FAQ-div">
    <button class="btn btn-primary FAQ-btn" type="button" data-toggle="collapse" data-target="#collapseExample">
        Question
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body FAQ-text">
            Some placeholder content for the collapse component. This panel is hidden by default but
            revealed when
            the
            user activates the relevant trigger.
        </div>
    </div>
</div>
<div class="container FAQ-div">
    <button class="btn btn-primary FAQ-btn" type="button" data-toggle="collapse" data-target="#collapseExample">
        Question
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body FAQ-text">
            Some placeholder content for the collapse component. This panel is hidden by default but
            revealed when
            the
            user activates the relevant trigger.
        </div>
    </div>
</div>
<div class="container FAQ-div">
    <button class="btn btn-primary FAQ-btn" type="button" data-toggle="collapse" data-target="#collapseExample">
        Question
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body FAQ-text">
            Some placeholder content for the collapse component. This panel is hidden by default but
            revealed when
            the
            user activates the relevant trigger.
        </div>
    </div>
</div>
<div class="container FAQ-div">
    <button class="btn btn-primary FAQ-btn" type="button" data-toggle="collapse" data-target="#collapseExample">
        Question
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body FAQ-text">
            Some placeholder content for the collapse component. This panel is hidden by default but
            revealed when
            the
            user activates the relevant trigger.
        </div>
    </div>
</div>

{% endblock %}