{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- welcome message and join now button -->
<div class="container h-100 index-header">
    <div class="row h-100">
        <div class="col-lg-2 col-sm-4 join-now my-5">
            <h4 class="btn btn-lg rounded-0 text-uppercase py-3">
                <a class="join-now-anchor" href="{% url 'account_signup' %}">
                    Join Now
                </a>
            </h4>
        </div>
        <div class="col-lg-10 col-sm-12 text-center">
            <h1>
                Welcome to <br> Lift, Life, Long
            </h1>
            <p class="text-center">
                mission statement <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Impedit, voluptate repudiandae nesciunt eos labore nulla, <br> 
                nam nemo quae ipsum, ratione optio voluptatem dolorem.
            </p>
        </div>
    </div>
</div>

<!-- about the gym and photos -->

<div class="container-fluid">
    <div class="col-12">
        <div class="row index-page-about">
            <h2>
                Our Lifestyle
            </h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sequi tempora perferendis
            rerum aliquam eligendi quas impedit itaque iusto, tenetur modi mollitia illum? Quis omnis
            reiciendis optio beatae sunt nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Corporis perspiciatis eius ipsum deleniti aliquam atque vel optio fugit quidem illo. Ipsum
            dignissimos iste hic sunt eos veniam dolores beatae porro.
            <br><br><br><br><br><br>
        </p>
    </div>
    <div class="col-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sequi tempora perferendis
            rerum aliquam eligendi quas impedit itaque iusto, tenetur modi mollitia illum? Quis omnis
            reiciendis optio beatae sunt nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Corporis perspiciatis eius ipsum deleniti aliquam atque vel optio fugit quidem illo. Ipsum
            dignissimos iste hic sunt eos veniam dolores beatae porro.
        </p>
    </div>
</div>

<!-- why join us -->

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2>Why Choose Us?</h2>
                <strong>Subheading</strong>           
            </div>
        </div>
        <div class="row reasons-list">
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="icon"></div>
                <h3>reason</h3>
                <p>Lorem ipsum dolor sit amet <br>
                   consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="icon"></div>
                <h3>reason</h3>
                <p>Lorem ipsum dolor sit amet <br>
                    consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="icon"></div>
                <h3>reason</h3>
                <p>Lorem ipsum dolor sit amet <br>
                    consectetur adipisicing elit</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="icon"></div>
                <h3>reason</h3>
                <p>Lorem ipsum dolor sit amet <br>
                    consectetur adipisicing elit</p>
            </div>
        </div>
        <div class="row reasons-list">
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="icon"></div>
                <h3>reason</h3>
                <p>Lorem ipsum dolor sit amet <br>
                   consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="icon"></div>
                <h3>reason</h3>
                <p>Lorem ipsum dolor sit amet <br>
                    consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="icon"></div>
                <h3>reason</h3>
                <p>Lorem ipsum dolor sit amet <br>
                    consectetur adipisicing elit</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="icon"></div>
                <h3>reason</h3>
                <p>Lorem ipsum dolor sit amet <br>
                    consectetur adipisicing elit</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}