{% extends "base.html" %}
{% load static %}

{% block page_header %}

<!-- welcome message and join now button -->

<div class="container h-100 index-header">
    <div class="row">
        <div class="col-lg-2 col-sm-4 join-now my-5">
            <h4 class="btn btn-lg rounded-0 text-uppercase">
                <a class="join-now-anchor" href="{% url 'account_signup' %}">
                    Join Now
                </a>
            </h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center welcome-message">
            <h1 class="welcome-title">
                Welcome to <br> Lift, Life, Long
            </h1>
            <p class="text-center welcome-message-p">
                mission statement <br>
                Here at "lift, life, long" we aim to help you be able to <br>
                lift heavier, live more and have your journey as long as it <br> 
                can be. All at affordable prices.
            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<!-- about the gym and photos -->

<div class="container-fluid">
    <div class="row title-row">
        <div class="col-12">
            <div class="row index-page-about-title">
                <h2>
                    Our Lifestyle
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <p>“It’s not because I knew I had the win, I didn’t. I felt like I was fighting tooth and nail this whole prep and I had to show up at my best to stand a chance at defending my title.
                Rather it’s because I was fully present yesterday on stage. I remember ever single moment so clearly.
                I simply felt at peace. Now I have these moments as deep rooted memories I will never forget and I’m so grateful for the experience, I spend a lot of time trying to apply
                the power of now to my daily life and I’m definitely not the best at it. It’s a constant work in progress, but when you live it and truly experience moments for what they are,
                nothing compares to that feeling.” - CBUM
            </p>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 image-1">
            <!-- image -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <p>"People ask me all the time, what is the secret to success? And I always tell them, well, the short version is, you got to have a 22-inch biceps.
                And you gotta be able to kill predators with your bare hands and of course you got to have this charming Austrian accent. That’s a given.
                The long version is that I actually always had five rules. You don’t need to be a bodybuilding champion, you don’t need to want to be an action hero or anything like that.
                If you want to excel in whatever you do, those rules are for you. So my first rule is find your vision and follow it.""  - Arnold Schwarzenneger
            </p>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 image-2">
            <!-- image -->
        </div>
    </div>
</div>

<!-- why join us -->

<section class="why-join-us">
    <div class="container">
        <div class="row text-center why-join-title">
            <div class="col-12">
                <h2>Why Choose Us?</h2>
                <strong>Here are some of the reasons our gym stands out above the rest</strong>
            </div>
        </div>
        <div class="row reasons-list-1">
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="reason-content">
                    <i class="fa-solid fa-car-side fa-2xl"></i>
                    <h3>Free Parking</h3>
                    <p>All of our gyms provide enough<br>
                        free parking for our members<br>
                        to fill each venue.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="reason-content">
                    <i class="fa-solid fa-dumbbell fa-2xl"></i>
                    <h3>Best Equipment</h3>
                    <p>State of the art equipment<br>
                        comes as standard for every<br>
                        location.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="reason-content">
                    <i class="fa-solid fa-calendar-days fa-2xl"></i>
                    <h3>Weekly Classes</h3>
                    <p>For whatever aspect of fitness<br>
                        you're looking to develop,<br>
                        we can provide expert help.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="reason-content">
                    <i class="fa-solid fa-person fa-2xl"></i>
                    <h3>Personal Trainer</h3>
                    <p>Years worth of experience in our<br>
                        personal trainers at every gym,<br>
                        to cater to any level of athlete.</p>
                </div>
            </div>
        </div>
        <div class="row reasons-list-2">
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="reason-content">
                    <i class="fa-solid fa-person-chalkboard fa-2xl"></i>
                    <h3>Healthy Lifestyle Lessons</h3>
                    <p>Whether you're looking for<br>
                        nutrition tips, or diet and lifestyle<br>
                        management, we can accomodate.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="reason-content">
                    <i class="fa-solid fa-people-arrows fa-2xl"></i>
                    <h3>Professional Competitors</h3>
                    <p>our team has close links with
                        professional agencies to help
                        you along your journey of
                        athletic competition.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="reason-content">
                    <i class="fa-solid fa-heart fa-2xl"></i>
                    <h3>Improve Your Life</h3>
                    <p>Going to the gym consistently will
                        improve your health, but more importently
                        developing discipline will bring all
                        you want into reality.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center reason">
                <div class="reason-content">
                    <i class="fa-solid fa-handshake fa-2xl"></i>
                    <h3>Meet New People</h3>
                    <p>Humans are social animals and
                        we need to keep in contact with 
                        eachother, creating and developing
                        new connections with people will
                        help you in life<br>
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}