{% extends "base.html" %}
{% load static %}

{% block page_header %}

<header>
    <div class="container">
        <div class="row text-center lifestyle-header">
            <div class="col-12">
                <h1>
                    Lifestyle
                </h1>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Links</h1>
            <a href="https://www.nutrition.org.uk/">
                <i class="fa-regular fa-salad fa-2xl"></i>
                <h2 class="lifestyle-links">Research healthy foods</h2>
            </a>
            <a href="https://www.muscleandfitness.com/workouts/workout-tips/25-expert-tips-improve-workout/">
                <i class="fa-regular fa-salad fa-2xl"></i>
                <h2 class="lifestyle-links">Research exercise</h2>
            </a>
            <a href="https://britishweightlifting.org/competitions/">
                <h2 class="lifestyle-links">Start competing</h2>
            </a>
            <a href="https://runtogether.co.uk/group-running/find-a-runtogether-group-run/">
                <h2 class="lifestyle-links">Join a club</h2>
            </a>
            <a href="https://www.healthline.com/health/best-weight-loss-blogs-of-the-year#1">
                <h2 class="lifestyle-links">Talk to others about diet and health</h2>
            </a>
        </div>
    </div>
</div>

{% endblock %}