{% extends "base.html" %}
{% load static %}

{% block page_header %}

<header>
    <div class="container">
        <div class="row text-center lifestyle-header">
            <div class="col-12">
                <h1>
                    Lifestyle
                </h1>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 lifestyle-links">
            <h1>links</h1>
        </div>
    </div>
</div>

{% endblock %}