{% extends "base.html" %}
{% load static %}

{% block page_header %}

<h1>gym location detail</h1>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>logo</h1>
            <h2>{{ location.location }}</h2>
            <p>{{ location.address }}</p>
            <p>{{ location.postcode }}</p>
            <p>{{ location.phone_number }}</p>
        </div>
        <div class="col-6">
            <h1>Classes available at this gym</h1>
            <p>{{ class_name }}</p>
            <p>{{ schedule }}</p>
        </div>
    </div>
</div>

{% endblock %}