{% extends "base.html" %}
{% load static %}

{% block page_header %}

<header>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>
                    Choose which gym location best suites you
                </h1>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-6 text-center">
            <a href="{% url 'locations_detail' %}">
                <h2 class="logo">
                    <strong>Lift, Life, Long</strong>
                </h2>
                <h4>
                    {{ GymLocation.location }}
                </h4>
                <p>
                    {{ GymLocation.address }} <br>
                    {{ GymLocation.postcode }}
                </p>
                <p>
                    {{ GymLocation.phone_number }}
                </p>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <a href="{% url 'locations_detail' %}">
                <h2 class="logo">
                    <strong>Lift, Life, Long</strong>
                </h2>
                <h4>
                    Location
                </h4>
                <p>
                    full address and <br>
                    postcode
                </p>
                <p>
                    1234567890
                </p>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <a href="{% url 'locations_detail' %}">
                <h2 class="logo">
                    <strong>Lift, Life, Long</strong>
                </h2>
                <h4>
                    Location
                </h4>
                <p>
                    full address and <br>
                    postcode
                </p>
                <p>
                    1234567890
                </p>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <a href="{% url 'locations_detail' %}">
                <h2 class="logo">
                    <strong>Lift, Life, Long</strong>
                </h2>
                <h4>
                    Location
                </h4>
                <p>
                    full address and <br>
                    postcode
                </p>
                <p>
                    1234567890
                </p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6 text-center">
            <a href="{% url 'locations_detail' %}">
                <h2 class="logo">
                    <strong>Lift, Life, Long</strong>
                </h2>
                <h4>
                    Location
                </h4>
                <p>
                    full address and <br>
                    postcode
                </p>
                <p>
                    1234567890
                </p>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <a href="{% url 'locations_detail' %}">
                <h2 class="logo">
                    <strong>Lift, Life, Long</strong>
                </h2>
                <h4>
                    Location
                </h4>
                <p>
                    full address and <br>
                    postcode
                </p>
                <p>
                    1234567890
                </p>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <a href="{% url 'locations_detail' %}">
                <h2 class="logo">
                    <strong>Lift, Life, Long</strong>
                </h2>
                <h4>
                    Location
                </h4>
                <p>
                    full address and <br>
                    postcode
                </p>
                <p>
                    1234567890
                </p>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <a href="{% url 'locations_detail' %}">
                <h2 class="logo">
                    <strong>Lift, Life, Long</strong>
                </h2>
                <h4>
                    Location
                </h4>
                <p>
                    full address and <br>
                    postcode
                </p>
                <p>
                    1234567890
                </p>
            </a>
        </div>
    </div>
</div>
{% endblock %}