{% extends "base.html" %}
{% load static %}

{% block page_header %}

<h1>gym location detail</h1>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>logo</h1>
            <h2>{{ location.location }}</h2>
            <p>{{ location.address }}</p>
            <p>{{ location.postcode }}</p>
            <p>{{ location.phone_number }}</p>
        </div>
        <div class="col-6">
            <h1>Classes available at this gym</h1>
            <p>{{ location.classes.class_name }}</p>
            <p>{{ location.classes.class_schedule }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Equipment and Facilities available at this Gym</h1>
            <p>{{ location.equip_facil.free_parking }}</p>
        </div>
    </div>
</div>

{% endblock %}