{% extends "base.html" %}
{% load static %}

{% block page_header %}

<header>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>
                    Choose which gym location best suites you
                </h1>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            test
        </div>
        <div class="col-3">
            test
        </div>
        <div class="col-3">
            test
        </div>
        <div class="col-3">
            test
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            test
        </div>
        <div class="col-3">
            test
        </div>
        <div class="col-3">
            test
        </div>
        <div class="col-3">
            test
        </div>
    </div>
</div>
{% endblock %}