{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center location-detail-header">
            <h1>Your Gym's Information</h1>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="container gym-info">
    <div class="row">
        <div class="col-6 text-center gym-info-specific">
            <h1 class="gym-info-title">Lift, Life, Long</h1>
            <h2>{{ location.location }}</h2>
            <p>{{ location.address }}</p>
            <p>{{ location.postcode }}</p>
            <p>{{ location.phone_number }}</p>
        </div>
        <div class="col-6 text-center gym-info-classes">
            <h1 class="gym-info-title">Classes available at this gym</h1>
            <p>{{ location.classes.class_name }}</p>
            <p>{{ location.classes.class_schedule }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center gym-info-equipment">
            <h1 class="gym-info-title">Equipment and Facilities available at this Gym</h1>
            <p>{{ location.equipment_facilities_obj1.equipment_available }}</p>
            <p>{{ location.equipment_facilities_obj2.equipment_available }}</p>
        </div>
    </div>
</div>

{% endblock %}