{% extends "base.html" %}
{% load static %}

{% block page_header %}

<header>
    <div class="container">
        <div class="row text-center gym-loc-header">
            <div class="col-12">
                <h1>
                    Choose which gym location best suites you
                </h1>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}
<div class="container gym-locations">
    <div class="row gym-loc-row">
        {% for locations in location %}
        <div class="col-lg-3 col-sm-6 text-center indiv-gym-loc">
            <a href="{% url 'locations_detail' locations.slug %}">
                <h2 class="logo">
                    <strong>Lift, Life, Long</strong>
                </h2>
                <h4>
                    {{ locations.location }}
                </h4>
                <p>
                    {{ locations.address }} <br>
                    {{ locations.postcode }}
                </p>
                <p>
                    {{ locations.phone_number }}
                </p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}