{% extends "base.html" %}
{% load static %}
{% load crispy_forms_field %}

{% block page_header %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>membership</h1>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="{% url 'membership' %}" method="POST" id="payment-form">
                <fieldset>
                    {% csrf_token %}
                    {{ membership_form | crispy }}
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}