html {
    height: 100%;
}

body {
    background-color: lightgray;
    background-size: cover;
}

/* base styles */

/* header styles */

.header {
    background: url('/media/images/eddie-hall-hero.webp');
    height: 500px;
}

/* logo */

.logo-base {
    width: fit-content;
    color: red;
    margin: 20px;
}

/* nav bar and links */

.nav-bar {
    list-style-type: none;
    height: 100px;
    margin-top: 100px;
}

.nav-items {
    display: inline-block;
    margin-top: 30px;
    background-color: #eae7de;
    opacity: 1;
    border-radius: 10px;
}

.nav-links {
    color: red;
    font-size: large;
    border-radius: 3px;
    padding: 5px;
    margin-right: 15px;
    display: inline-block;
    text-decoration: underline;
}

.nav-links-active:hover {
    background: red;
    padding: 5px;
    border-radius: 3px;
    transition: .5s;
}

/* drop down menu nav links for smaller screen sizes */

.dropdown-nav {
    
}

.dropdown-nav-btn {
    
}

.dropdown-menu {
    float: right;
}

.dropdown-links {
    list-style-type: none;
    display: block;
}

/* footer styles */

.footer {
    background-color: black;
    list-style-type: none;
    margin-bottom: 0px;
}

.footer-1 {
    background: #eae7de;
    height: 175px;
}

.footer-column-1 {
    background-color: red;
}

.footer-column-2 {

}

.footer-column-3 {
    background-color: red;
}

.footer-2 {
    background-color: lightgray;
    height: 175px;
}

.locations-btn {
    background-color: lightgray;
}

.social-list {
    display: inline-block;
    margin-top: 30px;
    margin: 50px;
}

.social-list-a {
    padding: 10px;
}

.social-links {
    color: black;
    border-radius: 3px;
    padding: 5px;
    margin-right: 15px;
    display: inline-block;
}

.social-page {
    margin-top: 30px;
}

/* index page styles */

/* header styles */

.index-header {
    background-color: lightgray;
    height: 300px;
    width: 100%;
    margin: 0px;
}

.join-now {
    background-color: #eae7de;
    border-radius: 5px;
    margin: 100px;
}

.join-now-anchor {
    margin: 5px;
}

.welcome-message {

}

.welcome-title {
    text-decoration: underline;
}

.welcome-message-p {
    font-size: x-large;
}

/* about us section */

.index-page-about-title {
    float: right;
    margin: 20px;
    background-color: red;
}

.index-page-about-p {
    background-color: yellow;
}

/* why join us section */

.why-join-us {

}

.why-join-title {
    margin: 10px;
}

.reasons-list-1 {
    
}

.reasons-list-2 {
    
}

.reason {
    border: 4px solid;
    border-color: red;
    border-radius: 10px;
    background: #eae7de;
}

.reason-content {
    padding: 5px;
}

/* locations page styles */

/* header styles */

.gym-loc-header {
    margin-bottom: 100px;
    text-decoration: underline;
}

/* main content */

.gym-locations {
    
}

.gym-loc-row {
    text-emphasis-color: red;
}

.indiv-gym-loc {
    border: 4px solid;
    border-color: red;
    border-radius: 10px;
    background: #eae7de;
}

/* location detail page styles */

.location-detail-header {
    width: 100%;
    margin-bottom: 100px;
    text-decoration: underline;
}

.gym-info-title {
    
}

.gym-info {
    font-size: x-large;
    font-weight: 600;
}

/* FAQs page styles */

/* header styles */

.FAQs-header {
    text-decoration: underline;
    width: 100%;
    margin-bottom: 100px;
}

/* main content */

.FAQ-div {
    margin: 10px;
}

.FAQ-btn {

}

.FAQ-text {
    border: 4px solid;
    border-color: red;
    border-radius: 10px;
}

/* join now page styles */

/* login page styles */

.login-title {
    text-decoration: underline;
    margin-bottom: 100px;
}

.login-form {
    font-size: x-large;
}

/* lifestyle page styles */

.lifestyle-header {
    margin-bottom: 100px;
    text-decoration: underline;
}

.lifestyle-links {
    border: 4px solid;
    border-color: red;
    border-radius: 10px;
    background: #eae7de;
}