{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Lift, Life, Long {% block extra_title %}{% endblock %}</title>

  </head>

  <body>

    <header class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 my-5 py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}">
                    <h2 class="logo">
                        <strong>Lift, Life, Long</strong>
                    </h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <nav class="nav-bar">
                    <ul class="nav-items">
                        <li class="nav-links">
                            <a class="nav-links-active" href="{% url 'home' %}">
                                Home
                            </a>
                        </li>
                        <li class="nav-links">
                            <a class="nav-links-active" href="#">
                                Locations
                            </a>
                        </li>
                        <li class="nav-links">
                            <a class="nav-links-active" href="#">
                                FAQ's
                            </a>
                        </li>
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <li class="nav-links">
                            <a href="#">
                                Gym Management
                            </a>
                        </li>
                        {% endif %}                      
                        <li class="nav-links">
                            <a href="#">
                                My Account
                            </a>
                        </li>
                        <li class="nav-links">
                            <a href="{% url 'account_logout' %}">
                                Logout
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-links">
                            <a class="nav-links-active" href="{% url 'account_signup' %}">
                                Join Now
                           </a>
                        </li>
                        <li class="nav-links">
                            <a class="nav-links-active" href="{% url 'account_login' %}">
                                Login
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-links">
                            <a class="nav-links-active" href="#">
                                Social Blog
                            </a>
                        </li>
                        <li class="nav-links">
                            <a class="nav-links-active" href="#">
                                Live, Life, Long, Lifestyle
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <div class="dropdown">
                    <button class="btn btn-secondary" type="button" data-toggle="dropdown" aria-expanded="false">
                      Menu
                    </button>
                    <div class="dropdown-menu">
                        <a href="{% url 'home' %}">
                            Home
                        </a>
                        <a href="#">
                            Locations
                        </a>
                        <a href="#">
                            FAQ's
                        </a>
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="#">
                            Gym Management
                        </a>
                        {% endif %}
                        <a href="#">
                            My Account
                        </a>
                        <a href="{% url 'account_logout' %}">
                            Logout
                        </a>
                        {% else %}
                        <a class="nav-links-active" href="{% url 'account_signup' %}">
                            Join Now
                        </a>
                        <a class="nav-links-active" href="{% url 'account_login' %}">
                            Login
                        </a>
                        {% endif %}
                        <a class="nav-links-active" href="#">
                            Social Blog
                        </a>
                        <a class="nav-links-active" href="#">
                            Live, Life, Long, Lifestyle
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>